<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <httpRuntime targetFramework="4.7.2"/>
    </system.web>
     <system.codedom>
       <compilers>
         <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
           <providerOption name="CompilerVersion" value="v4.0"/>
           <providerOption name="WarnAsError" value="false"/>
         </compiler>
         <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
           <providerOption name="CompilerVersion" value="v4.0"/>
           <providerOption name="OptionInfer" value="true"/>
           <providerOption name="WarnAsError" value="false"/>
         </compiler>
       </compilers>
     </system.codedom>

</configuration>
